<br />
<section class="pt-5 pb-5 bg-secondary inner-header" style="background-image: url(/img/REACH-Header-Blue-Background.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <br />
                <h1 class="mt-0 mb-3 text-white">Om oss</h1>
                <p class="lead mb-5 text-white-50">My Funny Friends </p>

            </div>
        </div>
    </div>
</section>
<br />