@{
    ViewData["Title"] = "Home Page";
}
<br />

<br />

<!-- Page Content -->
<div class="container" style="margin-top:100px">

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>My Funny Friends</h2>
            <hr>
            <p>Vi är ett företag som bedriver kennel och uppfödning av Bichon Havanais och norsk gråhund. </p>
            <p>Vi har även ett hundpensionat i hemmamiljö samt en stor träningshall att boka för eget bruk eller gruppträning.</p>

            <a class="btn btn-primary btn-sm" asp-controller="DogHotel" asp-action="Book">Boka pensionat &raquo;</a>
            <a class="btn btn-primary btn-sm" asp-controller="TrainingHall" asp-action="Book">Boka hallen &raquo;</a>

        </div>
        <div class="col-md-4 mb-5">
            <h2>Kontakta oss</h2>
            <hr>
            <address>
                <strong>My Funny Friends</strong>
                <br>Haga 2
                <br>Söderbärke, 777 93
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                076 322 26 01
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">myfunnyfriends@info.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="~/img/vaplar.jpg" alt="bild på valpar" style="max-height:232px;">
                <div class="card-body">
                    <h4 class="card-title">Kenneln</h4>
                    <p class="card-text">Vi föder upp Bichon Havanais och gråhund. Vi har en kull om året för respektive. Hör av dig för information om kölista.</p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Kennel" asp-action="Index" class="btn btn-primary">Till kenneln</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="~/img/hundpensionat.jpg" alt="bild på gården">
                <div class="card-body">
                    <h4 class="card-title">Hundpensionat</h4>
                    <p class="card-text">Vi bedriver ett hundpensionat i hemmamiljö. Här bor hundarna tillsammans eller enskilda i en inomhusbyggnad i olika rum med uteplatser. </p>
                </div>
                <div class="card-footer">
                    <a asp-controller="DogHotel" asp-action="Index" class="btn btn-primary">Till hundpensionatet</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="~/img/hundhall.jpg" alt="bild på träningshallen">
                <div class="card-body">
                    <h4 class="card-title">Träningshall</h4>
                    <p class="card-text">Vi har en stor träningshall på gården att boka för enskilda eller gruppträningar. Kolla under Boka fliken för att se kalendern</p>
                </div>
                <div class="card-footer">
                    <a asp-controller="TrainingHall" asp-action="Index" class="btn btn-primary">Till träningshallen</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->