

<br />
<br />
<!-- Page Content -->
<div class="container">
    <hr />

    <div class="row">
        <div class="col-md-12 mb-5">
            <h2>My Funny Friends</h2>
            <hr>

            <p>Vi är ett företag som bedriver kennel och uppfödning av Bichon Havanais och norsk gråhund. </p>
            <p>Vi har även ett hundpensionat i hemmamiljö samt en stor träningshall att boka för eget bruk eller gruppträning.</p>
            <br />
            @*<a class="btn btn-light btn-lg" asp-controller="DogHotel" asp-action="Book">Boka pensionat &raquo;</a>
            <a class="btn btn-light btn-lg" asp-controller="TrainingHall" asp-action="Book">Boka hallen &raquo;</a>*@


            <div class="row">
                <div class="col">
                    <div class="view overlay">
                        <img src="~/img/hundpensionat.jpg" class="img-fluid rounded hoverable sideContentImg  z-depth-4  " alt="Hundpensionat">
                        <div class="mask flex-center">
                            <a asp-controller="DogHotel" asp-action="Index" style="bottom:1px; "><h5>Till hundpensionat  <i class="fas fa-arrow-right"></i></h5></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="view overlay">
                        <img src="~/img/hundhall.jpg" class="img-fluid rounded hoverable sideContentImg  z-depth-4  " alt="Hundhall">
                        <div class="mask flex-center">
                            <a asp-controller="TrainingHall" asp-action="Index" style="bottom:1px;"><h5>Till hundhall  <i class="fas fa-arrow-right"></i></h5></a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="view overlay">
                        <img src="~/img/vaplar.jpg" class="img-fluid rounded hoverable sideContentImg  z-depth-4 " alt="Valpar">
                        <div class="mask flex-center ">
                            <a asp-controller="Kennel" asp-action="Index" style="bottom:1px ;"><h5>Till kennel <i class="fas fa-arrow-right"></i></h5></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- /.container -->
<style>
    #sideContent {
        float: left;
        width: 200px;
        height: 300px;
        margin-top: 5%;
        margin-left: 5%;
        z-index: 1;
        position: fixed;
    }

    .img-fluid {
        cursor: pointer;
    }

    .sideContentImg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 180px;
        opacity: .9;
        cursor: pointer;
        margin-bottom: 5px;
    }

        .sideContentImg:hover {
            opacity: 1.5;
        }

    .view {
        cursor: pointer;
    }

        .view:hover .img-fluid {
            opacity: .7
        }
</style>