@{
    ViewData["Title"] = "Dog Hotel Booking";
}

<br />
<br />

<!-- Page Content -->
<div class="container" style="margin-top:100px">

    <div class="row">
        <div class="col-md-12 mb-5">
            <h2>Boka hundpensionat</h2>
            <hr>
            <p>För att boka hundpensionat, registrera dig, logga in och lägg till hund(ar) på mina sidor fliken.</p>
            <p>Du väljer i formuläret nedan vilken hund du vill boka för. Vill du boka två hundar gör du två bokningar.</p>
            <p>Har du speciella önskemål kan du skriva med dessa i bokningen, eller kontakta oss så löser vi dina önskemål i största möjliga mån.</p>

            <a href="#" data-toggle="modal" data-target="#bookhotel" class="list-group-item">Boka</a>
        </div>

    </div>
    <!-- /.row -->

</div>

@* Modal *@
<div id="bookhotel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form>

                <div class="modal-body">
                    <h4 class="modal-title">Boka pensionat</h4>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Välj hund</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            @foreach (var dog in Repository.Dogs.Where(a => a.CustomerID == 1))
                            {
                                <option name="dog">@dog.Name</option>
                            }
                        </select>
                    </div>

                    <input id="datetime" type="text">

                    <script>
                        $("#datetime").datetimepicker({
                            format: 'YYYY-MM-DD HH:mm'
                        });
                    </script>

                    <input type="submit" class="btn-info" value="Boka" />

                </div>

            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



