@{
    ViewData["Title"] = "Dog Hotel Page";
}

<br />
<section class="pt-5 pb-5 bg-secondary inner-header" style="background-image: url(/img/REACH-Header-Blue-Background.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <br />
                <h1 class="mt-0 mb-3 text-white">My Funny Friends hundpensionat</h1>
                <p class="lead mb-5 text-white-50">Priser och info </p>

            </div>
        </div>
    </div>
</section>
<br />
<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-12 mb-5">
            <h2>Price Info</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
            <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->