
@model XArbete.Web.Features.Admin.AdminKennel.ViewModels.AdminManageKennelViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

<div class="container">
    <!-- DOGS -->

    <div class="table-wrapper ">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>@Model.Title</h2>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </div>

        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-dogs-tab" data-toggle="tab" href="#dogsTab" role="tab" aria-controls="dogsTab" aria-selected="true">Hundar</a>
            <a class="nav-item nav-link" id="nav-puppygroups-tab" data-toggle="tab" href="#puppygroupsTab" role="tab" aria-controls="puppygroupsTab" aria-selected="false">Valpkullar</a>
            @*<a class="nav-item nav-link" id="nav-buyPuppy-tab" data-toggle="tab" href="#buyPuppyTab" role="tab" aria-controls="buyPuppyTab" aria-selected="false">Köpa valp</a>*@

        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="dogsTab" role="tabpanel" aria-labelledby="dogsTab">
                <div id="kennelDogs">
                    @await Html.PartialAsync("_KennelDogsTab", Model.Dogs)
                </div>
            </div>
            <div class="tab-pane fade" id="puppygroupsTab" role="tabpanel" aria-labelledby="puppygroupsTab" style="opacity:0,5">
                <div id="puppyGroups">
                    @await Html.PartialAsync("_PuppyGroupsTab", Model)
                </div>
            </div>
        </div>

        <!-- Puppy Groups -->


    </div>
</div>

<!--MODALS-->
<!-- confirm puppy sold modal-->
<div id="confirmStatus" class="modal fade" tabindex="-1" role="dialog">
    @await Html.PartialAsync("ChangeStatusConfirmModal");
</div>
<!-- NEW PUPPY MODAL -->
<div id="addPuppy" class="modal fade" role="dialog">
    @await Html.PartialAsync("NewPuppyModal", Model.Puppy);
</div>

<!-- NEW DOG MODAL -->
<div id="addKennelDog" class="modal fade" role="dialog">
    @await Html.PartialAsync("NewKennelDogModal", Model.Dog)
</div>


<!-- NEW PUPPY GROUP MODAL -->
<div id="addPuppyGroup" class="modal fade" role="dialog">
    @await Html.PartialAsync("NewPuppyGroupModal", Model)
</div>
 @*confirm puppy group status modal
<div id="confirmGroupStatus" class="modal fade" tabindex="-1" role="dialog">
    @await Html.PartialAsync("ChangeStatusConfirmModal");
</div>*@
<!-- Delete kennel dog  -->
<div id="deleteKennelDog" class="modal fade">
    @await Html.PartialAsync("Shared/DeleteModal", "DeleteKennelDog")

</div>
<!-- delete puppy -->
<div id="deletePuppy" class="modal fade">
    @await Html.PartialAsync("Shared/DeleteModal", "DeletePuppy")
</div>

<!-- Delete puppygroup  -->

<div id="deletePuppyGroup" class="modal fade">
    @await Html.PartialAsync("Shared/DeleteModal", "DeletePuppyGroup")
</div>

<!--Changed puppygroup status to ACTIVE-->
<div id="puppyGroupStatusActive" class="modal fade">
    @await Html.PartialAsync("ChangePuppyGroupBirthModal", Model.PuppyGroup)
</div>
