@model XArbete.Web.Features.Admin.AdminContent.ViewModels.ContentListViewModel
@{
    ViewData["Title"] = "Att köpa valp";

}
<br />
<br />
<!-- Page Content -->
<div class="container" >

    <div class="row">
        <div class="col-md-12 mb-5">
            <h2>@ViewData["Title"]</h2>
            <div class="row">
                @foreach (var contentRow in Model.KennelContents)
                {
                    <div class="col-md-6 mb-5">
                        <div class="card " style="width:50rem;">
                            @*<div class="card-body" >
                                <h6 class="card-text">@contentRow.Description</h6>
                            </div>*@
                            <ul class="list-group list-group-flush small" style=" background-color:hsla(120,100%,15%,0.3);">
                                @foreach (var contentSectionRow in contentRow.Section)
                                {
                                    <li class="list-group-item " style=" background-color:hsla(120,100%,15%,0.3);"><h6><b>@contentSectionRow.Title</b></h6> @contentSectionRow.Section</li> <br />
                                }
                            </ul>
                        </div>
                    </div>
                }


            </div>
           
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->