@model XArbete.Web.Features.DogHotel.ViewModels.HotelBookingViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Boka pensionat";
}
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" style="color:black;">@ViewData["Title"]</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form id="hotelBookingModal" asp-controller="DogHotel" asp-action="NewBooking" method="post">
            @if (Model.Dogs != null)
            {
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="DogID"></label>
                        <select asp-for="@Model.DogID" class="form-control" id="exampleFormControlSelect1" required>
                            <option selected disabled label="Välj" value=""> </option>
                            @foreach (var dog in Model.Dogs)
                            {
                                <option value="@dog.ID">@dog.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="From"></label><br />
                        <input class="form-control" id="start_time_1" asp-for="From" autocomplete="off" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="To"></label><br />
                        <input class="form-control" id="start_time_2" asp-for="To" autocomplete="off" required />
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" asp-for="Grooming" value="true">
                            <label class="form-check-label" asp-for="Grooming"></label>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" asp-for="Training" value="true">
                            <label class="form-check-label" asp-for="Training"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" asp-for="ExtraWalk" value="true">
                            <label class="form-check-label" asp-for="ExtraWalk"></label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerMessage"></label>
                        <textarea class="form-control" rows="3" asp-for="CustomerMessage"></textarea>

                    </div>
                </div>
            }

            <div class="modal-footer">
                <i id="loadingIcon"></i>
                <input type="submit" class="btn btn-outline-info" value="Boka" />
            </div>
        </form>

    </div>
</div>
