@{
    ViewData["Title"] = "Dog Hall Page";
}
@model XArbete.Web.Models.TrainingHallBooking

<br />
<section class="pt-5 pb-5 bg-secondary inner-header" style="background-image: url(/img/REACH-Header-Blue-Background.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <br />
                <h1 class="mt-0 mb-3 text-white">My Funny Friends träningshall</h1>
                <p class="lead mb-5 text-white-50">Boka </p>

            </div>
        </div>
    </div>
</section>
<br />

<!-- Page Conte
<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-12 mb-5">
            <h2>Boka våran träningshall</h2>
            <hr>
            <p>Här kan du boka träningshallen! Glöm inte att läsa <a asp-controller="TrainingHall" asp-action="PriceInfo">trivselreglerna</a> innan du använder hallen.</p>
            <form>
            </form>
            <a class="btn btn-primary btn-lg" href="#">Boka</a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->