@{
    ViewData["Title"] = "Dog Hotel Page";
}

<br />
<section class="pt-5 pb-5 bg-secondary inner-header" style="background-image: url(/img/REACH-Header-Blue-Background.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <br />
                <h1 class="mt-0 mb-3 text-white">My funny friends träningshall</h1>
                <p class="lead mb-5 text-white-50">Priser och trivselregler </p>

            </div>
        </div>
    </div>
</section>
<br />

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-12 mb-5">
            <h2>Priser</h2>
            <hr>
            <h5>
                Träningshall
            </h5>
            <p>
                Måndag – fredag kl. 07.00 – 16.00, 200 kr/timme
            </p>

            <p> Måndag – fredag kl. 16.00 – 22.00, 300 kr /timme</p>

            <p> Lördag, söndag, helgdag kl. 07.00 – 22.00, 300 kr/timme</p><br /><br />





            <h5>Träningshall (heldag)</h5>
            <p>Vardag kl.8.00-18.00, 2200 kr</p>

            <p>Helgdag kl. 08.00 – 18.00, 2600 kr</p>

            <p> Helg (lördag + söndag) kl. 08.00 – 18.00, 5000 kr</p>

            <p>
                För bokning av heldag eller helg vänligen maila info@dogtajm.seres!
            </p>
            <br /> <h2>Trivselregler</h2><hr /><br />
            <ul>
                <li>
                    Du som vistas i lokalen accepterar automatiskt att följa våra trivselregler. Visa hänsyn till varandra och respektera tider.
                </li>
                <li>
                    All träning sker på egen risk och strikt hundägaransvar gäller.
                </li>
                <li>
                    Vänligen respektera andra hyresgästerna i huset. Låt inte hunden sitta och skälla i onödan.
                </li>
                <li>
                    Hos oss har vi koppeltvång i hela lokalen med undantag för den inhängande träningshallen.
                </li>
                <li>
                    Vid träning hos oss ska SBKs dressyrpolicy följas.
                </li>
                <li>
                    Endast inneskor eller i strumplästen på träningsplan (dubbskor är inte tillåtet).
                </li>
                <li>
                    Torka av smutsiga/blöta tassar innan ni beträder träningsplanen.
                </li>
                <li>
                    Endast friska och vaccinerade hundar får vistas i hallen.
                </li>
                <li>
                    Löptikar är välkomna men tikskydd måste användas.
                </li>
                <li>
                    Vet du med dig att din hanhund kan kissa inne, använd kisskydd.
                </li>
                <li>
                    Om en ” hundolycka” sker, använd städutrustningen som finns utplacerad vid planen.
                </li>
                <li>
                    Vid eventuell skada på vår utrusning, meddela oss omgående så vi kan åtgärda skadan.
                </li>
                <li>
                    All utrustning ska ställas tillbaka efter avslutad träning.
                </li>
            </ul>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->