@{
    ViewData["Title"] = "Prislista";
}

<br />
<br />

<!-- Page Content -->
<div class="container" style="margin-top:100px">

    <div class="row">
        <div class="col-md-6 mb-5">
            <h2>@ViewData["Title"]</h2>
            <hr>
            <h5>
                Träningshall (timvis)
            </h5>
            <p>
                Måndag – fredag kl. 06.00 – 08.00, 100 kr/timme
            </p>
            <p>
                Måndag – fredag kl. 08.00 – 17.00, 250 kr/timme
            </p>

            <p> Måndag – fredag kl. 17.00 – 21.00, 300 kr /timme</p>
            <p> Måndag – fredag kl. 21.00 – 22.00, 100 kr /timme</p>

            <p> Lördag, söndag, helgdag kl. 07.00 – 22.00, 350 kr/timme</p><br /><br />





            <h5>Träningshall (heldag)</h5>
            <p>Vardag kl.8.00-18.00, 2200 kr</p>

            <p>Helgdag kl. 08.00 – 18.00, 2600 kr</p>
            <br />

        </div>
        <div class="col-md-6 mb-5">
            <br /><br />
            <img src="~/img/hallen3.jpg" class="img-fluid" />

        </div>
        <div class="col-md-12 mb-5">
            <h2>Trivselregler</h2><hr /><br />
            <ul>
                <li>
                    Du som vistas i lokalen accepterar automatiskt att följa våra trivselregler. Visa hänsyn till varandra och respektera tider.
                </li>
                <li>
                    All träning sker på egen risk och strikt hundägaransvar gäller.
                </li>
                <li>
                    Vänligen respektera andra hyresgästerna i huset. Låt inte hunden sitta och skälla i onödan.
                </li>
                <li>
                    Hos oss har vi koppeltvång i hela lokalen med undantag för den inhängande träningshallen.
                </li>
                <li>
                    Vid träning hos oss ska SBKs dressyrpolicy följas.
                </li>
                <li>
                    Endast inneskor eller i strumplästen på träningsplan (dubbskor är inte tillåtet).
                </li>
                <li>
                    Torka av smutsiga/blöta tassar innan ni beträder träningsplanen.
                </li>
                <li>
                    Endast friska och vaccinerade hundar får vistas i hallen.
                </li>
                <li>
                    Löptikar är välkomna men tikskydd måste användas.
                </li>
                <li>
                    Vet du med dig att din hanhund kan kissa inne, använd kisskydd.
                </li>
                <li>
                    Om en ” hundolycka” sker, använd städutrustningen som finns utplacerad vid planen.
                </li>
                <li>
                    Vid eventuell skada på vår utrusning, meddela oss omgående så vi kan åtgärda skadan.
                </li>
                <li>
                    All utrustning ska ställas tillbaka efter avslutad träning.
                </li>
            </ul>
            <hr />
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->