@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<br />

<br />

<div class="container" style="margin-top:100px">

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Kontakta oss</h2>
            <hr>
            <p>Här hittar du ett kontaktformulär för att kontakta oss. </p>
            <p>Vill du ringa oss eller har ett brådskande ärende har du även våra kontaktuppgifter till höger.</p>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Kontaktuppgifter</h2>
            <hr>
            <address>
                <strong>My Funny Friends</strong>
                <br>Haga 2
                <br>Söderbärke, 777 93
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                076 322 26 01
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">myfunnyfriends@info.com</a>
            </address>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mb-5">
            <form>
                KONTAKTFORMULÄR
            </form>
        </div>
        <div class="col-md-4 mb-5">
            Något annat
        </div>
    </div>
    <!-- /.row -->
</div>