@{
    Layout = "/Views/Shared/_Layout.cshtml";

}
<br />

<br />

<div class="container" style="margin-top:100px">

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Om oss</h2>
            <hr>
            <p>Vi är ett företag som bedriver kennel och uppfödning av Bichon Havanais och norsk gråhund. </p>
            <p>Vi har även ett hundpensionat i hemmamiljö samt en stor träningshall att boka för eget bruk eller gruppträning.</p>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Kontakta oss</h2>
            <hr>
            <address>
                <strong>My Funny Friends</strong>
                <br>Haga 2
                <br>Söderbärke, 777 93
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                076 322 26 01
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">myfunnyfriends@info.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->
</div>