@model XArbete.Web.Customer.ViewModels.CustomerDogViewModel
@{ 
    ViewData["Title"] = "Lägg till hund";
}
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">@ViewData["Title"]</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form asp-controller="Customer" asp-action="NewCustomerDog" method="post" class="newForm">
            <div class="modal-body">
                <label asp-for="Name"></label>
                <input class="form-control" id="name" placeholder="(obligatoriskt)" asp-for="Name" required />
                <br />
                <label asp-for="Ras"></label>
                <select class="form-control breed-dropdown" asp-for="Ras" required>Välj</select>
                <br />
                <label asp-for="Other"></label>
                <textarea class="form-control" rows="3" asp-for="Other" placeholder="(valfritt)"></textarea>

                <br />
                <div class="form-check form-check-inline">
                    <input class="form-check-input" style="transform:scale(1.5)" type="checkbox" asp-for="CanLiveWithOtherDogs">
                    <label class="form-check-label" asp-for="CanLiveWithOtherDogs"></label>
                </div><br /><br />

                <div class="form-check form-check-inline">
                    <input required class="form-check-input" style="transform:scale(1.5)" type="radio" id="male" asp-for="Sex" value="Hane">
                    <label class="form-check-label" for="male">Hane</label>
                </div>
                <div class="form-check form-check-inline">
                    <input required style="transform:scale(1.5)" class="form-check-input" type="radio" id="female" asp-for="Sex" value="Tik">
                    <label class="form-check-label" for="female">Tik</label>
                </div><br />
                <div class="form-check form-check-inline">
                    <input required class="form-check-input" style="transform:scale(1.5)" type="radio" id="castrated" asp-for="Kastrated" value="true">
                    <label class="form-check-label" for="castrated">Kastrerad</label>
                </div>
                <div class="form-check form-check-inline">
                    <input required style="transform:scale(1.5)" class="form-check-input" type="radio" id="noCastrated" asp-for="Kastrated" value="false">
                    <label class="form-check-label" for="noCastrated">Ej kastrerad</label>
                </div><br />
            </div>


            <div class="modal-footer">
                <input type="submit" class="btn btn-success" value="Spara">
            </div>
        </form>
    </div>
</div>