@model IEnumerable<XArbete.Web.Kennel.ViewModels.KennelContentSectionViewModel>

        @if (Model != null)
        {
                <ul>
                    @foreach (var row in Model)
                    {
                        <li>
                            <b>@row.Title</b><br />@row.Section

                            <a style="float:right" class="deleteKennelSection" asp-action="DeleteKennelContentSection" data-breedid="@row.KennelContentId" data-id="@row.Id">
                                <i class="material-icons" data-toggle="tooltip" title="Radera">
                                    clear
                                </i>
                            </a>
                        </li>
                    }

                </ul>
        }
