<br />
<br />
@model XArbete.Web.Features.Admin.AdminCustomers.ViewModels.AdminManageCustomersViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container"> 
    <div class="table-wrapper" style="width:80%">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-4">
                    <h4>@Model.Title</h4>
                </div>
                <div class="col-sm-4">
                    <form class="form-inline md-form form-sm mt-0">
                        <i class="fas fa-search" aria-hidden="true"></i>
                        <input class="form-control form-control-sm ml-3 w-75" id="AdminSearchCustomer" type="text" placeholder="Sök användare"
                               aria-label="Search">
                    </form>
                </div>

                <div class="col-sm-4">
                    <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Lägg till admin</span></a>
                </div>
            </div>
            </div>
        </div>
        <div id="AllCustomers" style="width:80%">
            @await Html.PartialAsync("Customers", Model)
        </div>
    </div>



<!-- Add customer Modal  -->
<div id="addEmployeeModal" class="modal fade">
    @await Html.PartialAsync("AddNewCustomerModal", Model.RegisterViewModel)
</div>

<!-- Delete custmoer Modal  -->
<div id="deleteEmployeeModal" class="modal fade">
    @await Html.PartialAsync("Shared/DeleteModal", "/AdminCustomers/DeleteCustomer")

</div>
